* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  animation: bgChange 8s ease-in-out 0s infinite;
  transition: all 0.7s ease-in-out 0s;
}

@keyframes bgChange {
  0% {
    background-color: #ffc107;
  }
  20% {
    background-color: #ffc107;
  }
  25% {
    background-color: #dc3545;
  }
  45% {
    background-color: #dc3545;
  }
  50% {
    background-color: #0d6efd;
  }
  70% {
    background-color: #0d6efd;
  }
  75% {
    background-color: #0dcaf0;
  }
  95% {
    background-color: #0dcaf0;
  }
  100% {
    background-color: #ffc107;
  }
}

#adjust {
  width: 75%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
}

@media only screen and (max-width: 768px) {
  #adjust {
    width: 90%;
    height: 80vh;
  }
}

@media only screen and (max-width: 425px) {
  #adjust {
    width: 100%;
    /* height: 100vh; */
    height: max-content;
    padding: 0px;
  }
}
